  
  <div class="container" ng-controller="verAlumnos">
  <div class="row">
  <h5 class="azul-oscuro">Profesores Actuales</h5>

      <table class="striped">
        <thead>
          <tr >
              <th data-field="number">Rut</th>
              <th data-field="name">Nombre</th>
              <th data-field="name">Apellido Paterno</th>
              <th data-field="name">Apellido Materno</th>
              <th data-field="name">Correo</th>
          </tr>
        </thead>

        <tbody ng-repeat="alumno in alumnos| limitTo:15" id="{{alumno.id}}">

            <td>{{alumno.rut}}</td>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellido_paterno}}</td>
            <td>{{alumno.apellido_materno}}</td>
            <td>{{alumno.correo}}</td>
            <td>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
            </td>
              
        </tbody>
      </table>
  </div>
