      <div class="container">
      <div class="row" ng-controller="agregarProfesor">
      <form name="agregaProfesor" novalidate>
        <h5 class="azul-oscuro">Nuevo Profesor</h5>

        <div class="row" data-ng-show="avisoCrearProfesor">
          <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El Nuevo Profesor se ha ingresado con éxito.</div> 
        </div>


        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="nombre" ng-model="nombre" type="text" class="validate" required="" aria-required="true">
            <label for="nombre">Primer nombre</label>
          </div>
        </div>

        <div class="row" align="center">
          <div class="input-field col s6">
            <input id="lastname" type="text" ng-model="apellido_paterno"  class="validate" required="" aria-required="true">
            <label for="lastname">Apellido Paterno</label>
          </div>

          <div class="input-field col s6">
            <input id="mlastname" type="text" ng-model="apellido_materno"  class="validate">
            <label for="mlastname">Apellido Materno</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="rut" type="text" ng-model="rut"  class="validate" required="" aria-required="true">
            <label for="rut">Rut</label>
          </div>
        </div>

        <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" ng-model="correo"  class="validate" required="" aria-required="true">
                <label for="email" data-error="Correo inválido" data-success="Correcto">Correo</label>
              </div>
        </div>
         <div class="row">
 

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" ng-click="agregarProfe();avisoCrearProfesor=true"  name="action" type="reset">Aceptar
            </button>
            <button class="waves-effect waves-light btn grey" type="reset" ui-sref="adminprofesores">Cancelar</button>
          </div>

          <div ng-show="agregado">

          </div>
        </div>
      </div>