  <div class="container" ng-controller="verTiposEncuestas">
  <div class="row">
  <h5 class="azul-oscuro">Tipos de Encuestas Actuales en MANUEL</h5>

      <table class="striped">
        <thead>
          <tr >
              <th data-field="id">Nombre</th>
              <!-- <th data-field="name">Descripcion</th> 
              <th data-field="name">Fecha de Creacion</th>-->
          </tr>
        </thead>

        <tbody ng-repeat="tipo in tipos| limitTo:15" id="{{tipo.id}}">
            <td>{{tipo.nombre}}</td>
          <!--  <td>{{tipo.descripcion}}</td> 
            <td>{{tipo.created_at}}</td>-->
            <td>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
            </td>
        </tbody>
      </table>
  </div>
</div>