  
  <div class="container" ng-controller="verProfesores">
  <div class="row">
  <h5 class="azul-oscuro">Profesores Actuales</h5>

      <table class="striped">
        <thead>
          <tr >
              <th data-field="number">Rut</th>
              <th data-field="name">Nombre</th>
              <th data-field="name">Apellido Paterno</th>
              <th data-field="name">Apellido Materno</th>
              <th data-field="name">Correo</th>
          </tr>
        </thead>

        <tbody ng-repeat="profesor in profesores| limitTo:15" id="{{profesor.id}}">

            <td>{{profesor.rut}}</td>
            <td>{{profesor.nombre}}</td>
            <td>{{profesor.apellido_paterno}}</td>
            <td>{{profesor.apellido_materno}}</td>
            <td>{{profesor.correo}}</td>
     
              
        </tbody>
      </table>
  </div>
