      <div class="container">
      <div class="row" ng-controller="agregarCurso">
      <form name"form" novalidate>
        <h5 class="azul-oscuro">Nuevo Curso</h5>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="first_name" type="text" ng-model="nombre"class="validate">
            <label for="first_name">Nombre</label>
          </div>
        </div>
        <div class="row" >
          <div class="input-field col s6">
            <input id="first_name" type="number" ng-model="semestre"class="validate">
            <label for="first_name">Semestre</label>
          </div>
        
          <div class="input-field col s6">
            <input id="first_name" type="number" ng-model="ano"class="validate">
            <label for="first_name">Año</label>
          </div>
        </div>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="first_name" type="text" ng-model="descripcion"class="validate">
            <label for="first_name">Descripcion</label>
          </div>
        </div>

         <div class="row">
 

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" ng-click="agregar()" type="submit" name="action">Aceptar
            </button>
            <a class="waves-effect waves-light btn grey">Cancelar</a>
          </div>
        </div>
      </div>