  
  <div class="container" ng-controller="verProfesores">
  <div class="row">
  <h5 class="azul-oscuro">Profesores Actuales</h5>
    <div align="right"><input ng-hide="loading" ng-model="searchText"><i class="fa fa-search"></i></div>
<div class="progress" ng-show="loading"><div class="indeterminate"></div></div>
      <table ng-hide="loading" class="striped">
        <thead>
          <tr >
              <th data-field="number">Rut</th>
              <th data-field="name">Nombre</th>
              <th data-field="name">Apellido Paterno</th>
              <th data-field="name">Apellido Materno</th>
              <th data-field="name">Correo</th>
          </tr>
        </thead>

        <tbody ng-repeat="profesor in profesores| limitTo:15 | filter:searchText" id="{{profesor.id}}">
            <td>{{profesor.rut}}</td>
            <td>
              <span data-ng-hide="editar">{{profesor.nombre}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="profesor.nombre" data-ng-required>
            </td>
            <td>
              <span data-ng-hide="editar">{{profesor.apellido_paterno}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="profesor.apellido_paterno" data-ng-required>
            </td>
            <td>
              <span data-ng-hide="editar">{{profesor.apellido_materno}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="profesor.apellido_materno">
            </td>
            <td>
              <span data-ng-hide="editar">{{profesor.correo}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="profesor.correo" data-ng-required>
            </td>
            <td>
              <button type="submit" data-ng-hide="editar" data-ng-click="editar=true; editarDato(profesor)" class="btn btn-default">Editar</button>
              <button type="submit" data-ng-show="editar" data-ng-click="editar=false" class="btn btn-default">Guardar</button>
              <button type="submit" data-ng-show="editar" data-ng-click="editar=false; editarCancelar($index)" class="btn btn-default">Cancelar</button>
            </td>
     
              
        </tbody>
      </table>
  </div>
