Nombre del Profesor:

<div class="row center" ng-controller="">
        <div class="input-field col s12" >
        <p class="azul-oscuro">PROFESOR NUEVO</p>
        
      </div>
      
      <div class="row center" >
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Enviar respuestas
          </button>
          <a class="waves-effect waves-light btn grey">Cancelar</a>
        </div>
      </div>

    </div>
    <br><br>
  </div>
</div>
