      <div class="container">
      <div class="row" ng-controller="agregarCurso">
      <form name="cursosForm" novalidate>
        <h5 class="azul-oscuro">Nuevo Curso</h5>

        <div class="row" ng-show="avisoCrearCurso">
          <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El nuevo Curso se ha creado con éxito.</div> 
        </div>

        <div class="row" align="center">
          <div class="input-field col s6">
            <input id="first_name" type="text" ng-model="nombre"class="validate" required="" aria-required="true">
            <label for="first_name">Nombre</label>
          </div>


          <div class="input-field col s6">
            <select material-select watch ng-model="profesor">
              <option ng-repeat="profesor in profesores" value="{{profesor.id}}">{{profesor.nombre}} {{profesor.apellido_paterno}} {{profesor.apellido_materno}}</option>
            </select>
            <label>Asignar Profesor</label>
          </div>
        </div>


        <div class="row" >
          <div class="input-field col s6">
            <input id="first_name" type="number" ng-model="semestre"class="validate" required="" aria-required="true">
            <label for="first_name">Semestre</label>
          </div>
        
          <div class="input-field col s6">
            <input id="first_name" type="number" ng-model="ano"class="validate" required="" aria-required="true">
            <label for="first_name">Año</label>
          </div>
        </div>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="first_name" type="text" ng-model="descripcion"class="validate" required="" aria-required="true">
            <label for="first_name">Descripción</label>
          </div>
        </div>

         <div class="row">
 

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" ng-click="agregar();avisoCrearCurso=true" type="reset" name="action">Aceptar
            </button>
            <button class="waves-effect waves-light btn grey" type="reset" ui-sref="admincursos.ver" >Cancelar</button>
          </div>
        </div>
      </div>