  <div class="section no-pad-bot" id="index-banner">
  </div>


  <div class="container">
  <h4 class="orange-text container">Profesores</h4>
  <br>
  <div class="contain blanco wrapper z-depth-2">
        <div class="row">
        <div class="col s12">
          <ul class="tabs">	
            <li class="tab col s3" ><a href="" ui-sref="encuestas.pendientes" class="active" >Añadir Profesor</a></li>
        	<li class="tab col s3"><a href="" ui-sref="encuestas.completadas" >Profesores Actuales</a></li>
          	
          </ul>
            <div ui-view></div>
        </div>
      </div>
    <br><br>
  </div>
</div>
<br><br><br>
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->

      </div>
      <br><br>
    </div>
        