Nuevo Alumno:

<div class="row center" ng-controller="admin.vertdeencuestas">
        <div class="input-field col s12" ng-repeat="pregunta in preguntas" id="{{pregunta.id}}">
        <p class="azul-oscuro">{{pregunta.nombre}}</p>
       <p class="azul-oscuro">{{pregunta.curso}}</p>
      </div>
      
      <div class="row center" >
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Añadir Alumno</button>
          <a class="waves-effect waves-light btn grey">Cancelar</a>
        </div>
      </div>

    </div>
    <br><br>
  </div>
</div>
