  <div class="container" ng-controller="verCursos">
  <div class="row">
  <h5 class="azul-oscuro">Cursos Actuales</h5>
      <img ng-show="loading" src="imagenes/Cargando.gif">
      <table ng-hide="loading" class="striped">
        <thead>
          <tr >
              <th data-field="name">Nombre</th>
              <th data-field="description">Descripcion</th>
          </tr>
        </thead>

        <tbody ng-repeat="curso in cursos| limitTo:15" id="{{curso.id}}">

            <td>{{curso.nombre}}</td>
            <td>{{curso.descripcion}}</td>
          
        </tbody>
      </table>
  </div>
</div>