      <div class="container">
      <div class="row" ng-controller="agregarCurso">
      <form name="cursosForm" novalidate>
        <h5 class="azul-oscuro">Nuevo Curso</h5>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="first_name" type="text" ng-model="nombre"class="validate" required="" aria-required="true">
            <label for="first_name">Nombre</label>
          </div>
        </div>
        <div class="row" >
          <div class="input-field col s6">
            <input id="first_name" type="number" ng-model="semestre"class="validate" required="" aria-required="true">
            <label for="first_name">Semestre</label>
          </div>
        
          <div class="input-field col s6">
            <input id="first_name" type="number" ng-model="ano"class="validate" required="" aria-required="true">
            <label for="first_name">Año</label>
          </div>
        </div>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="first_name" type="text" ng-model="descripcion"class="validate" required="" aria-required="true">
            <label for="first_name">Descripción</label>
          </div>
        </div>

         <div class="row">
 

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" ng-click="agregar()" type="submit" name="action" onclick="Materialize.toast('Curso Agregado',3000)" type="reset">Aceptar
            </button>
            <button class="waves-effect waves-light btn grey" type="reset" ui-sref="admincursos" >Cancelar</button>
          </div>
        </div>
      </div>