  <div class="container" ng-controller="verEncuestas">
  <div class="row">
  <h5 class="azul-oscuro">Encuestas Actuales en MANUEL</h5>
    <div align="right"><input ng-hide="loading" ng-model="searchText"><i class="fa fa-search"></i></div>
<div class="progress" ng-show="loading"><div class="indeterminate"></div></div>
      <table ng-hide="loading" class="striped">
        <thead>
          <tr >
              <th data-field="name">Nombre de la encuesta</th>
              <th data-field="curso">Descripción</th>
              <th data-field="tipo">Tipo</th>
                
          </tr>
        </thead>

        <tbody ng-repeat="encuesta in encuestas| limitTo:15 | filter:searchText" id="{{encuesta.id}}">
            <td>
              <span data-ng-hide="editar">{{encuesta.nombre}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="encuesta.nombre" data-ng-required>
            </td>
            <td>
              <span data-ng-hide="editar">{{encuesta.descripcion}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="encuesta.descripcion" data-ng-required>
            </td>
            <td>
              <span data-ng-hide="editar">{{encuesta.tipo}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="encuesta.tipo" data-ng-required>
            </td>
            <td>
              <button type="submit" data-ng-hide="editar" data-ng-click="editar=true; editarDato(encuesta)" class="btn btn-default">Editar</button>
              <button type="submit" data-ng-show="editar" data-ng-click="editar=false" class="btn btn-default">Guardar</button>
              <button type="submit" data-ng-show="editar" data-ng-click="editar=false; editarCancelar($index)" class="btn btn-default">Cancelar</button>
            </td>
            
        </tbody>
      </table>
  </div>
</div>