  <div class="container" ng-controller="verCursos">
  <div class="row">
  <h5 class="azul-oscuro">Cursos Actuales</h5>
  <div align="right"><input ng-hide="loading" ng-model="searchText"><i class="fa fa-search"></i></div>

  <div class="progress" ng-show="loading"><div class="indeterminate"></div></div>
      <table ng-hide="loading" class="striped">
        <thead>
          <tr >
              <th data-field="name">Nombre</th>
              <th data-field="description">Año</th>
          </tr>

        </thead>

        <div class="row" ng-show="avisoEliminarCurso">
          <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El Curso se ha eliminado con éxito.</div> 
        </div>

        <tbody ng-repeat="curso in cursos| limitTo:15 | filter:searchText" id="{{curso.id}}">

            <td>
              {{curso.nombre}}
            </td>
            <!--
            <td>
              <span data-ng-hide="editar">{{curso.descripcion}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="curso.descripcion" data-ng-required>
            </td>
            <td>
              <span data-ng-hide="editar">{{curso.semestre}}</span>
              <input type="text" data-ng-show="editar" data-ng-model="curso.semestre" data-ng-required>
            </td>
          -->
            <td>
              {{curso.ano}}
            </td>
            <td>
          <!--
              <button type="submit" data-ng-hide="editar" data-ng-click="ver(curso)" class="btn waves-effect waves-light blue"><i class="material-icons">visibility</i></button>
            -->
             <div class="col">
                    <a class='btn' href='#demoModal' data-ng-click="obtenerCurso($index)" modal><i class="material-icons">visibility</i></a>
                </div>
                <!-- Modal Structure -->
                <div id="demoModal" class="modal">
                    <div class="modal-content">
                        <h4>Detalle Curso</h4>

                        <table class="striped">
                          <thead>
                            <tr>
                                <th data-field="id">Id</th>
                                <th data-field="id">Nombre</th>
                                <th data-field="id">Descripcion</th>
                                <th data-field="id">Semestre</th>
                                <th data-field="id">Año</th>
                                <th data-field="id">Profesor</th>
                            </tr>
                          </thead>

                          <tbody>   
                            <td>
                              {{detalle.id}}
                            </td>
                            <td>
                              
                              <span data-ng-hide="editar">{{detalle.nombre}}</span>  
                              <input required type="text" data-ng-show="editar" data-ng-model="curso.nombre" data-ng-required>
                            </td>
                            <td>
                              
                              <span data-ng-hide="editar">{{detalle.descripcion}}</span>  
                              <input required type="text" data-ng-show="editar" data-ng-model="curso.descripcion" data-ng-required>
                            </td>
                            <td>
                              
                              <span data-ng-hide="editar">{{detalle.semestre}}</span>  
                              <input required type="text" data-ng-show="editar" data-ng-model="curso.semestre" data-ng-required>
                            </td>
                            <td>
                              
                              <span data-ng-hide="editar">{{detalle.ano}}</span>  
                              <input required type="text" data-ng-show="editar" data-ng-model="curso.ano" data-ng-required>
                            </td>
                            <td>
                              
                              <span data-ng-hide="editar">{{detalle.profesor}}</span>  
                              <input required type="text" data-ng-show="editar" data-ng-model="curso.profesor" data-ng-required>
                            </td>
                          </tbody>
                        </table>
                        <div class="row col s12">
                        <button type="submit" data-ng-hide="editar" data-ng-click="editar=true; editarCurso(curso)" class="btn waves-effect waves-light green"><i class="material-icons">create</i></button>
                        <button type="submit" data-ng-show="editar" data-ng-click="editar=false;guardarCampo($index)" class="btn waves-effect waves-light green"><i class="material-icons">done</i></button>
                        <button type="submit" data-ng-show="editar" data-ng-click="editar=false; cancelar($index)" class="btn waves-effect waves-light red"><i class="material-icons">clear</i></button>
                        </div>
                        <h5 class="azul-oscuro">Alumnos del Curso</h5>
                        <table class="striped"  ng-hide="loadingDetalle">
                          <thead>
                            <tr>
                                <th data-field="id">Nombre</th>
                                <th data-field="name">Apellidos</th>
                                <th data-field="price">Correo</th>
                            </tr>
                          </thead>

                          <tbody ng-repeat="alumno in alumnos" id="{{alumno.id}}">   
                            <td>
                              {{alumno.nombre}}
                            </td>
                            <td>
                              {{alumno.apellido_paterno}} {{alumno.apellido_materno}}
                            </td>
                            <td>
                              {{alumno.correo}}
                            </td>
                          </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a  class=" modal-action modal-close waves-effect waves-green btn-flat">Salir</a>
                    </div>
                </div>

              <!--
              <button type="submit" data-ng-hide="editar" data-ng-click="editar=true; editarCurso(curso)" class="btn waves-effect waves-light green"><i class="material-icons">create</i></button>
              <button type="submit" data-ng-show="editar" data-ng-click="editar=false;guardarCampo($index)" class="btn waves-effect waves-light green"><i class="material-icons">done</i></button>
              <button type="submit" data-ng-show="editar" data-ng-click="editar=false; cancelar($index)" class="btn waves-effect waves-light red"><i class="material-icons">clear</i></button>
            </td>
          -->
        </tbody>
      </table>
  </div>
</div>