  
  <div class="container" ng-controller="verAlumnos">
  <div class="row">
  <h5 class="azul-oscuro">Alumnos Actuales</h5>
      <img ng-show="loading" src="imagenes/Cargando.gif">


      <table ng-hide="loading" class="striped">
        <label class="azul-oscuro">Buscador: <input ng-model="searchText"></label>
        <thead>
          <tr >
              <th data-field="text">Rut</th>
              <th data-field="name">Nombre</th>
              <th data-field="name">Apellido Paterno</th>
              <th data-field="name">Apellido Materno</th>
              <th data-field="name">Correo</th>
          </tr>
        </thead>

        <tbody ng-repeat="alumno in alumnos| limitTo:15 | filter:searchText" id="{{alumno.id}}">
            <td>{{alumno.rut}}</td>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellido_paterno}}</td>
            <td>{{alumno.apellido_materno}}</td>
            <td>{{alumno.correo}}</td>

              
        </tbody>
      </table>
  </div>
