      <div class="container">
      <div class="row" ng-controller="agregartEncuesta">
      <form name"form" novalidate>
        <h5 class="azul-oscuro">Nuevo Tipo de Encuesta</h5>

        <div class="row" ng-show="alertaCreacionTipo">
          <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El Nuevo Tipo de Encuesta se ha creado con éxito.</div> 
        </div>


        <div class="row" align="center">
          <div class="input-field col s12">
            <input ng-required="true" required id="first_name" type="text" ng-model="nombre"class="validate" >
            <label for="first_name">Nombre</label>
          </div>
        </div>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input ng-required="true" required id="descripcion" type="text" ng-model="descripcion"class="validate" >
            <label for="descripcion">Descripción</label>
          </div>
        </div>

         <div class="row">
 

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" ng-click="agregar();alertaCreacionTipo=true" name="action" type="reset">Aceptar
            </button>
            <button class="waves-effect waves-light btn grey" type="reset" ui-sref="admintencuestas.ver">Cancelar</button>
          </div>
        </div>
      </div>

