      <div class="container">
      <div class="row" ng-controller="agregarEncuesta">
      <form name"form" novalidate>
        <h5 class="azul-oscuro">Nueva Encuesta</h5>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="first_name" type="text" ng-model="nombre" class="validate">
            <label for="first_name">Nombre</label>
          </div>
        </div>
        <div class="row" align="center">
          <div class="input-field col s12">
            <input id="descripcion" type="text" ng-model="descripcion" class="validate">
            <label for="descripcion">Descripción</label>
          </div>
        </div>

         <div class="row">
 

          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" ng-click="update()" name="action" onclick="Materialize.toast('Encuesta Agregado',3000)" type="reset">Aceptar
            </button>
            <button class="waves-effect waves-light btn grey" type="reset">Cancelar</button>
          </div>
        </div>
      </div>