<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipos_encuestum.nombre %>
</p>

<%= link_to 'Edit', edit_tipos_encuestum_path(@tipos_encuestum) %> |
<%= link_to 'Back', tipos_encuesta_path %>
