<div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <br><br>
            <h1 class="header center orange-text"><img src="imagenes/manuel.gif"></h1>
            <div class="row center">
              <h5 class="header col s12 light azul-oscuro">
                MANejador Universal de Encuestas Libres para trabajo en equipo
              </h5>
              <p class="azul-oscuro">A través de esta aplicación usted podrá crear, 
              editar, enviar y obtener resultados de encuestas aplicadas a grupos de 
              estudiantes con los cuales podrá medir habilidades y capacidades de 
              ellos.</p>
            </div>
            <div class="row center">
      <a href="" id="download-button" class="btn-large waves-effect waves-light" ng-click="doGoogleAuthWithPopup()">Ingresar</a>
            </div>
            <br><br>
            </div>
            </div>