<div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <br><br>
            <h1 class="header center orange-text"><img src="imagenes/manuel.gif"></h1>
            <div class="row center">
            <h3 class="azul-oscuro"><strong>Oops...</strong></h3>
              <h5 class="azul-oscuro">Lo sentimos</h5>
              <h5 class="azul-oscuro">No está autorizado para ingresar a la aplicación</h5>
              <h6 class="azul-oscuro">Contacte con el administrador</h6>

            </div>	
            <br><br>
            </div>
            </div>