  <div class="container" ng-controller="VerEncuestasCompletadas">
  <div class="row">
  <h5 class="azul-oscuro">Encuestas completadas</h5>
      <div class="input-field col s12">
          <p>
            En esta sección usted puede consultar sus encuestas respondidas asi como sus estadísticas.
          </p>
      </div>
      <table class="striped">
        <thead>
          <tr >             
              <th data-field="name">Nombre de la encuesta</th>
              <th data-field="tipo">Tipo</th>
              <th data-field="id"></th>
          </tr>
        </thead>

        <tbody ng-repeat="encuesta in encuestas">
          <tr>
            <td>{{encuesta.nombre}}</td>
            <td>{{tipoencuesta[encuesta.tipo_encuesta_id-1]}}</td>
            <td>
              <button ng-click="ingresarNombreEncuesta(encuesta.nombre,encuesta.id)" id="{{encuesta.id}}" class="btn waves-effect waves-light center" type="submit" name="action" >Estadísticas
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
