  <div class="container" ng-controller="VerEncuestasPendientes">
    <div class="row">
    <h5 class="azul-oscuro">Encuestas pendientes</h5>
        <div class="input-field col s12">
            <p>
              En esta sección usted puede contestar sus encuestas pendientes.
            </p>
        </div>
        <table class="striped">
          <thead>
            <tr >                
                <th data-field="name">Nombre de la encuesta</th>
                <th data-field="curso">Curso</th>
                <th data-field="tipo">Tipo</th>
                <th data-field="id"></th>
            </tr>
          </thead>

          <tbody ng-repeat="encuesta in encuestas">
            <tr >            
              <td>{{encuesta.nombre}}</td>
              <td>{{encuesta.curso}}</td>
              <td>{{encuesta.tipo_encuesta_id}}</td>
              <td>
                <button ng-click="ingresarNombreEncuesta(encuesta.nombre)" ng-if="encuesta.tipo_encuesta_id==1" id="{{encuesta.id}}" class="btn waves-effect waves-light center" type="submit" name="action" ui-sref="encuestas.responder360({idEncuesta: {{encuesta.id}} })">Responder
                </button>
                <button ng-click="ingresarNombreEncuesta(encuesta.nombre)" ng-if="encuesta.tipo_encuesta_id!=1" id="{{encuesta.id}}" class="btn waves-effect waves-light center" type="submit" name="action" ui-sref="encuestas.responder({idEncuesta: {{encuesta.id}} })">Responder
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
