  <div class="container" ng-controller="VerEncuestasCompletadas">
  <div class="row">
  <h5 class="azul-oscuro">Encuestas completadas</h5>
      <div style="margin-top:10px">      
          <div id='mensajes' class="check-element sample-show-hide alert-box success" ng-show="mostrarAvisoExitoLocal" style="margin:0px;"><span>correcto: </span>{{message.text}}</div>  
          <div id='mensajes' class="check-element sample-show-hide alert-box error" ng-show="mostrarAvisoErrorLocal" style="margin:0px;"><span>error: </span>{{message.text}}</div> 
      </div>
      <div class="input-field col s12">
          <p>
            En esta sección usted puede consultar sus encuestas respondidas asi como sus estadísticas.
          </p>
      </div>
      <table class="striped centered">
        <thead>
          <tr >             
              <th data-field="name">Nombre de la encuesta</th>
              <th data-field="tipo">Tipo</th>
              <th data-field="id"></th>
          </tr>
        </thead>

        <tbody ng-repeat="encuesta in encuestas">
          <tr>
            <td>{{encuesta.nombre}}</td>
            <td>{{tipoencuesta[encuesta.tipo_encuesta_id-1]}}</td>
            <td>
              <button ng-if="encuesta.tipo_encuesta_id==1" ng-click="ingresarNombreEncuesta(encuesta.nombre,encuesta.id)" id="{{encuesta.id}}" class="btn waves-effect waves-light center" type="submit" name="action" >Estadísticas
              </button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
