<div class="container">
  <div class="row ">
    <h5 class="azul-oscuro">{{$parent.encuestaSeleccionada}}</h5>
      <h5 class="azul-oscuro">Estadísticas</h5>
      <div class="container-fluid">
    <div class="text-center aspect-ratio" id="container" ng-controller="RadarCtrl">
      <canvas id="bar" class="chart chart-radar"
  chart-data="data" chart-labels="labels" chart-series="series">
</canvas>
      <div class="row center">
        <div class="col s12">
          <h5 class="azul-oscuro">Módulo de la encuesta: {{modulo | number:2}}</h5>
        </div>
      </div>
  </div>

      <div class="row center" >
      <div class="input-field col s12">
        <a class="waves-effect waves-light btn grey" ui-sref="encuestas.completadas">Cancelar</a>
      </div>
    </div>
  </div>
</div>
