<div class="row center" ng-controller="ObtenerPreguntas">
  <div class="input-field col s12" ng-repeat="pregunta in preguntas" id="{{pregunta.id}}" name="{{pregunta.id}}">
    <p class="azul-oscuro">{{pregunta.enunciado}}</p>
    </div>

    <div class="row center" >
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Enviar respuestas</button>
      <a class="waves-effect waves-light btn grey" ui-sref="encuestas.pendientes">Cancelar</a>
    </div>
  </div>
</div>
