<p>Nombre de la encuesta:</p>

<div class="row center" ng-controller="ResponderEncuesta">

      <div class="collection col s4" >
        <a ng-repeat="grupo in datosGrupo" class="collection-item" id="{{grupo.id}}" ui-sref="encuestas.responder360.preguntas({idEncuesta: {{idEncuesta}} , idAlumno: {{grupo.id}} })">{{grupo.nombre}}  {{grupo.apellido_paterno}} {{grupo.apellido_materno}} </a>
      </div>
      <div class="col s8">
        <div ui-view></div>
      </div>

    </div>
    <br><br>
  </div>
</div>
