
<div class="container">
  <div class="row" ng-controller="ResponderEncuesta">
    <h5 class="azul-oscuro">{{$parent.encuestaSeleccionada}}</h5>
    <div style="margin-top:20px;margin-bottom:20px">      
          <div id='mensajes' class="check-element sample-show-hide alert-box success" ng-show="mostrarAvisoExitoLocal" style="margin:0px;"><span>correcto: </span>{{message.text}}</div>  
          <div id='mensajes' class="check-element sample-show-hide alert-box error" ng-show="mostrarAvisoErrorLocal" style="margin:0px;"><span>error: </span>{{message.text}}</div> 
        </div>
    <h8 class="azul-oscuro">Seleccione al compañero que desee evaluar:</h8>
    <div class="row"><div class="collection col s4" >
      <a ng-click="ingresarNombreAlumno(grupo.id, grupo.nombre,grupo.apellido_paterno,grupo.apellido_materno)" ng-repeat="grupo in datosGrupo" class="collection-item" id="{{grupo.id}}" ui-sref="encuestas.responder360.preguntas({idEncuesta: {{idEncuesta}} , idAlumno: {{grupo.id}}, })">{{grupo.nombre}}  {{grupo.apellido_paterno}} {{grupo.apellido_materno}} </a>
    </div>
    <div class="col s8">
      <div ui-view></div>
    </div></div>
    <div class="input-field col s12">
    </div>
    </div>
    <br><br>
</div>
