<div ng-controller="AgregarAlumno">

    <div class="row icon-block">
    <h2 class="turquesa"><i class="large material-icons">perm_identity</i></h2>
    <h5>Agregar Alumnos</h5>
    <br><br>
    <div class="col s6" flex="50" ng-repeat="alumno in alumnosFaltantes">
        <input type="checkbox" id="{{alumno.id}}" />
        <label for="{{alumno.id}}">{{alumno.nombre}} {{alumno.apellido_paterno}} {{alumno.apellido_materno}}</label>
    </div>
  </div>
  <br><br>
  <button class="col s2 btn waves-effect waves-light" align="middle" type="submit" style="padding:0px;">  
    Agregar
  </button>



<!--
  <form ng-submit="agregarAlumno()">
    <div class="input-field col s6">
      <select material-select watch ng-model="respuesta.alumno_id">
        <option ng-repeat="alumno in alumnosFaltantes" value={{alumno.id}}>{{alumno.nombre}} {{alumno.apellido_paterno}}</option>
      </select>
      <label>Seleccione un alumno</label>
    </div>
    <button class="col s2 btn waves-effect waves-light" align="middle" type="submit">  
      Agregar
    </button>
  </form>
-->

    <button class="col s2 btn waves-effect waves-light footerColor" ui-sref="detalle-curso.alumnos" align="middle" name="action">
      <span class="azul-oscuro">Volver</span>
    </button>


    <!-- Agregar alumno al grupo -->
  <!--
  <div class="divider row"></div>
  <div ng-repeat="alumno in alumnosFaltantes">
    <div class="section row">
      <div class="col s4"><h5 class="azul-oscuro">{{alumno.nombre}} {{alumno.apellido_paterno}}</h5></div>
      <div class="col s4"><p class="azul-oscuro">{{alumno.correo}}</p></div> 
      <div class="col s2">
        <button class="btn waves-effect waves-light right" ng-click="agregarAlumno($index)" align="middle" type="button">
          Agregar
        </button>
      </div>
    </div>
  </div>
  <div class="divider row"></div>
    <div class="section">
      <p>Elija un grupo donde ingresar al alumno:</p>
      <div class="row">
        <select class="col s6" material-select watch>
          <option value="" disabled selected>Seleccione una opción</option>
          <option ng-repeat="grupo in grupos" ng-click="asignarValor($index)">{{grupo.nombre}}</option>
        </select>
      </div>
      <div class="row">
        <input type="checkbox" ng-click="asignarJefe(true)" class="filled-in" id="test5" />
        <label for="test5">Jefe de grupo</label>
      </div>
      <div class="row" ng-show="alertaAsignarGrupo">
          Se ha asignado grupo con exito.
      </div>
    </div>
  <button class="col s2 btn waves-effect waves-light left" ng-click="asignarGrupo()" ui-sref="detalle-curso.alumnos" align="middle" name="action">
    Aceptar
  </button> -->
</div>