<div ng-controller="AgregarAlumno">
  <br><br><br>
  <div class="divider row"></div>
  <div ng-repeat="alumno in alumnosFaltantes">
    <div class="section row">
        <div class="col s4"><h5 class="azul-oscuro">{{alumno.nombre}} {{alumno.apellido_paterno}}</h5></div>
        <div class="col s4"><p class="azul-oscuro">{{alumno.correo}}</p></div> 
        <div class="col s2">
          <button class="btn waves-effect waves-light right" ng-click="agregarAlumno($index)" align="middle" type="button">  
            Agregar
          </button>
        </div>
    </div>
    <div class="divider row"></div>
  </div>
  <div class="row">
    <button class="col s2 btn waves-effect waves-light left" ui-sref="detalle-curso.alumnos" align="middle" type="submit" name="action">
      Volver
    </button>
    <div class="col s4" ng-show="alertaAgregarAlumno">Alumno agregado satisfactoriamente</div>
  </div>
</div>