<div class="row" ng-controller="GrupoCtrl">
  <br></br>
  <div class="row">
    <h5 class="col s2 azul-oscuro left" style="font-weight:bold;">{{$parent.mi_grupo.nombre}}</h5>
    <p class="col s6 azul-oscuro left" align="justify">{{$parent.mi_grupo.descripcion}}.</p>
    <button class="col s3 btn waves-effect waves-light right" ui-sref="detalle-curso.agregar-alumnos-grupo" align="middle" type="button">  
      Agregar alumnos
    </button>
  </div>
  <div class="s12">
    <div class="divider row" style="margin:0px;"></div>
    <div ng-repeat="integrante in integrantes">
      <div class="section row" style="margin:0px;">
        <div class="col s4"><h5 class="azul-oscuro">{{integrante.nombre}} {{integrante.apellido_paterno}} {{integrante.apellido_materno}}</h5></div>
        <div class="col s3"><p class="azul-oscuro">{{integrante.correo}}</p></div>
          <button ng-show="!integrante.jefe" class="col s3 btn waves-effect waves-light " ng-click="asignarJefe(integrante)" align="middle" type="button">  
            Asignar Jefe
          </button>
          <div class="col s3 card-panel footerColor" style="padding:0 px;margin:0 px;border:0px;" ng-show="integrante.jefe">
            <p class="azul-oscuro" align="center" style="font-weight:bold;">Jefe de grupo</p>
          </div>
        <div class>
        <div class="col s2">
          <button class="btn waves-effect waves-light right red" ng-click="eliminarAlumnoGrupo(integrante)" align="middle" type="button">
            Eliminar del grupo
          </button>
        </div> 
      </div>
      <div class="divider row" style="margin:0px;"></div>
    </div>
  </div>
  </div>
  <div class="row">
  <br>
  <button class="col s2 left btn waves-effect waves-light" ui-sref="detalle-curso.grupos" align="middle" type="submit" name="action">
    Volver
  </button>
  <button class="btn waves-effect waves-light col s4 right red" ng-click="eliminarGrupo()" align="middle" type="submit" name="action">
    Eliminar Grupo
  </button>
  </div>
  <br></br>
</div>