<div class="container">
<h4 class="orange-text">Curso 1</h4></div>
<div class="contain blanco wrapper z-depth-2">
  <div class="container">
      <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#Perfil">Perfil</a></li>
          <li class="tab col s3"><a class="active" href="#Grupos">Grupos</a></li>
          <li class="tab col s3"><a href="#Alumnos">Alumnos</a></li>
          <li class="tab col s3"><a href="#Evaluaciones">Evaluaciones</a></li>
          <li class="tab col s3"><a href="#Opciones"><div class="col s2"><i class="small material-icons" style="vertical-align:middle">settings</i></div><div class="col s8">Opciones</div></a></li>
        </ul>
      </div>
      
    </div>
    <div class="row">
      <br></br>
      <h2 class="azul-oscuro">Grupo 1</h2>
      <br></br>
      <div class="col s12 m8">
        <div class="icon-block">
          <div class="row">
            <button class="btn waves-effect waves-light right" style="padding:5px;" align="up" type="button" name="action">   
              Editar
            </button>
          </div>
          <h5 class="azul-oscuro" align="left">Descripción</h5>
          <p class="azul-oscuro" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum euismod placerat. Nunc et mauris sollicitudin risus dapibus accumsan. Proin convallis facilisis imperdiet. Nam sit amet nisi libero. Aliquam placerat vitae felis.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8">
        <div class="divider row" style="margin:0px;"></div>
        <div class="section row" style="margin:0px;">
            <div class="col s2"><img class="circle responsive-img s2 foto-alumno" src="imagenes/foto.jpg"></div>
            <div class="col s4"><h5 class="azul-oscuro">Pablo Salinas</h5></div>
            <div class="col s2"><p class="azul-oscuro">1 encuesta respondida</p></div>
            <div class="col s2 right">
              <a class='dropdown-button btn' href='#' data-activates='dropdown1'><i class="tiny material-icons" style="vertical-align:middle">settings</i></a>
              <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Jefe de grupo</a></li>
                <li><a href="#!">Eliminar del grupo</a></li>
              </ul>
            </div>
        </div>
        <div class="divider row" style="margin:0px;"></div>
        <div class="section row" style="margin:0px;">
            <div class="col s2"><img class="circle responsive-img s2 foto-alumno" src="imagenes/foto.jpg"></div>
            <div class="col s4"><h5 class="azul-oscuro">Pablo Salinas</h5></div>
            <div class="col s2"><p class="azul-oscuro">1 encuesta respondida</p></div>
            <div class="col s2 card-panel" style="background-color:#FF7335;"><p class="azul-oscuro" style="font-weight:bold">Jefe de proyecto</p></div>
            <div class="col s2 right">
              <a class='dropdown-button btn' href='#' data-activates='dropdown2'><i class="tiny material-icons" style="vertical-align:middle">settings</i></a>
              <ul id='dropdown2' class='dropdown-content'>
                <li><a href="#!">Jefe de grupo</a></li>
                <li><a href="#!">Eliminar del grupo</a></li>
              </ul>
            </div>
        </div>
        <div class="divider row" style="margin:0px;"></div>
        <div class="section row" style="margin:0px;">
            <div class="col s2"><img class="circle responsive-img s2 foto-alumno" src="imagenes/foto.jpg"></div>
            <div class="col s4"><h5 class="azul-oscuro">Pablo Salinas</h5></div>
            <div class="col s2"><p class="azul-oscuro">1 encuesta respondida</p></div>
            <div class="col s2 right">
              <a class='dropdown-button btn' href='#' data-activates='dropdown3'><i class="tiny material-icons" style="vertical-align:middle">settings</i></a>
              <ul id='dropdown3' class='dropdown-content'>
                <li><a href="#!">Jefe de grupo</a></li>
                <li><a href="#!">Eliminar del grupo</a></li>
              </ul>
            </div>
        </div>
        <div class="divider row"></div>
      </div>
    </div>
    <br></br>
  </div>
</div>