<br><br>
<div ng-controller="NuevaEncuesta">
	<h3 class="row azul-oscuro">Nueva encuesta</h3>
	<br><br>
  <form ng-submit="nuevaEncuesta()">
   	<div class="input-field col s6">
   		<select material-select watch ng-model="encuesta_id">
      	<option ng-repeat="encuesta in encuestas" value="{{encuesta.id}}">{{encuesta.nombre}}</option>
    	</select>
    <label>Seleccione una encuesta</label>
  	</div>
		  <button class="col s2 btn waves-effect waves-light right" align="middle" type="submit">  
	      Publicar encuesta
	    </button>
      <button class="col s2 btn waves-effect waves-light left footerColor" ui-sref="detalle-curso.evaluaciones" align="middle" type="submit" name="action">
        <span class="azul-oscuro">Volver</span>
    </button>
	  </div>
  </form>
</div>
