<div ng-controller="VerGrupos">
  <br></br>
  <h5 class="azul-oscuro" style="font-weight: bold;">Grupos del curso</h5>
  <br></br>
  <div class="row">
    <div class="col s3 right">
      <button class="btn waves-effect waves-light right row" ui-sref="detalle-curso.agregar-grupo" align="middle" type="submit" name="action">
        Nuevo grupo
      </button>
    </div>
  </div>
  <div class="row" ng-show="alertaAgregarGrupo">
    <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El grupo se ha agregado con éxito.</div> 
  </div>
  <div class="row" ng-show="alertaEliminacionGrupo">
    <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El grupo se ha eliminado con éxito.</div> 
  </div>
  <div class="row" ng-show="alertaEliminacionAlumno">
    <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El alumno se eliminado con éxito del grupo.</div> 
  </div>
  <div ng-repeat="grupo in grupos">
    <div class="col s12 m6">
      <div class="card-panel footerColor">
        <div class="row card-content">
          <div class="col s8 left"><a ng-click="seleccionarGrupo($index)"><h5 class="azul-oscuro col s6">{{grupo.nombre}}</h5></a></div>
          <div class="col s4">
          <button class="btn waves-effect waves-light right" ng-click="seleccionarGrupo($index)" align="middle" type="button">  
            Detalle
          </button>
          </div>
        </div>
        <div class="row">
          <p class="azul-oscuro" style="padding-left:10px">{{grupo.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>