<div ng-controller="VerAlumnos">
  <br></br>
  <h5 class="azul-oscuro" style="font-weight: bold;">Alumnos del curso</h5>
  <br></br>
   <div style="margin-top:10px">      
          <div id='mensajes' class="check-element sample-show-hide alert-box success" ng-show="$parent.mostrarAvisoExitoLocal2" style="margin:0px;"><span>correcto: </span>{{message.text}}</div>  
          <div id='mensajes' class="check-element sample-show-hide alert-box error" ng-show="$parent.mostrarAvisoErrorLocal2" style="margin:0px;"><span>error: </span>{{message.text}}</div> 
      </div>
  <div style="margin-top:10px">      
          <div id='mensajes' class="check-element sample-show-hide alert-box success" ng-show="mostrarAvisoExitoLocal" style="margin:0px;"><span>correcto: </span>{{message.text}}</div>  
          <div id='mensajes' class="check-element sample-show-hide alert-box error" ng-show="mostrarAvisoErrorLocal" style="margin:0px;"><span>error: </span>{{message.text}}</div> 
      </div>
  <div class="row">

      <button class="col s3 right btn waves-effect waves-light" ui-sref="detalle-curso.agregar-alumno" align="middle" type="submit" name="action">
      Agregar alumno
      </button>
  </div>
  <div class="row" ng-show="alertaEliminacionAlumno">
    <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El alumno se ha eliminado con éxito.</div> 
  </div>
  <div class="row" ng-show="alertaAgregarAlumno">
    <div class="col s6 offset-s2 alert-box success"><span>correcto: </span>El alumno se ha agregado con éxito.</div> 
  </div>
  <div class="divider row"></div>
  <div ng-repeat="alumno in $parent.alumnosCurso">
    <div class="section row">
        <div class="col s4"><h5 class="azul-oscuro">{{alumno.nombre}} {{alumno.apellido_paterno}}</h5></div>
        <div class="col s4"><p class="azul-oscuro">{{alumno.correo}}</p></div> 
        <div class="col s2">
          <button class="btn waves-effect waves-light right" ng-click="seleccionarAlumno($index)" align="middle" type="button">  
            Detalle
          </button>
        </div>
        <div class="col s2">
          <button class="btn waves-effect waves-light right red" ng-click="eliminarAlumnoCurso($index)" align="middle" type="button">  
            Eliminar
          </button>
        </div> 
    </div>
    <div class="divider row"></div>
  </div>
</div>