<div class="row" ng-controller="GrupoCtrlAyudante">
  <br></br>
  <h4 class="azul-oscuro">{{$parent.mi_grupo.nombre}}</h4>
  <p class="azul-oscuro" align="justify">{{$parent.mi_grupo.descripcion}}.</p>
  <div class="row">
    <div class="col s12">
      <div class="divider row" style="margin:0px;"></div>
      <div ng-repeat="integrante in integrantes">
        <div class="section row" style="margin:0px;">
          <div class="col s5"><h5 class="azul-oscuro">{{integrante.nombre}} {{integrante.apellido_paterno}} {{integrante.apellido_materno}}</h5></div>
          <div class="col s2"><p class="azul-oscuro">{{integrante.correo}}</p></div>
          <div class="col s2 right">
            <a class='dropdown-button btn' data-hover="true" data-activates='drop1' dropdown><i class="tiny material-icons" style="vertical-align:middle">settings</i></a>
            <ul id='drop1' class='dropdown-content'>
              <li><a ng-click="asignarJefe($index)">Jefe de grupo</a></li>
              <li><a ng-click="eliminarAlumnoGrupo($index)">Eliminar del grupo</a></li>
            </ul>
          </div>
        </div>
        <div class="divider row" style="margin:0px;"></div>
      </div>
    </div>
  </div>
  <div class="row">
  <button class="col s2 left btn waves-effect waves-light" ui-sref="detalle-curso-ayudante.grupos" align="middle" type="submit" name="action">
    Volver
  </button>
  <button ng-hide="!revisarFuncionalidad(8)" class="btn waves-effect waves-light col s4 right footerColor" ng-click="eliminarGrupo()" align="middle" type="submit" name="action">
    <span class="azul-oscuro">Eliminar Grupo</span>
  </button>
  </div>
  <br></br>
</div>