<br><br>
<div ng-controller="NuevaEncuestaAyudante">
	<h5 class="row azul-oscuro" style="font-weight:bold;">Publicar encuesta</h5>
	<br><br>
  <form ng-submit="nuevaEncuesta()">
   	<div required class="input-field row s8">
   		<select required material-select watch ng-model="encuesta_id">
      	<option required ng-repeat="encuesta in encuestas" value="{{encuesta.id}}">{{encuesta.nombre}}</option>
    	</select>
    <label>Seleccione una encuesta</label>
  	</div>
    <div class="row">
		  <button class="col s2 btn waves-effect waves-light left" align="middle" type="submit">  
	      Publicar
	    </button>
      <button class="col s2 btn waves-effect waves-light grey right" ui-sref="detalle-curso-ayudante.evaluaciones" align="middle" type="submit" name="action">
        <span class="azul-oscuro">Volver</span>
      </button>
    </div>
  </form>
</div>