<div ng-controller="NuevaEncuestaAyudante">
	<h5>Seleccione un tipo de encuesta</h5>
  <a class='dropdown-button btn' data-hover="true" data-activates='drop2' dropdown>Opciones</a>
  <ul id='drop2' class='dropdown-content'>
  	<div ng-repeat="tipo in tipos">
    <li><a ng-click="seleccionarTipo($index)">{{tipo.nombre}}</a></li>
    </div>
  </ul>
	<div class="input-field col s12">
	  <select>
	  	<div ng-repeat="tipo in tipos">
	    <option value="$index"><a ng-click="seleccionarTipo($index)">{{tipo.nombre}}</a></li>
	    </div>
	  </select>
	</div>
</div>